<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="azureRedisConnectionString" value="azureredis2023.redis.cache.windows.net:6380,password=ThQaUVV3072JZP1XhFccCVMVwY87FvGiTAzCaBheeiI=,
				   ssl=True,abortConnect=False"></Parameter>
	</TestRunParameters>
</RunSettings>

